<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
</head>

<body>
<div>
    <!--/*@thymesVar id="email" type="java.lang.String"*/-->
    <!--/*@thymesVar id="baseUrl" type="java.lang.String"*/-->
    <!--/*@thymesVar id="token" type="java.lang.String"*/-->
    <p th:text="@{|Dear ${name},|}">
    </p>
    <h2 style="text-align: center;"> Please follow the password reset instructions </h2>

    <p style="text-align: center; margin:1.5rem 0;"> If the requester was not you then please write to <a
            href="mailto:hisaab.kitaab@gmail.com">hisaab.kitaab@gmail.com</a> . </p>
    <div style='text-align : center;'>

        <a th:href="@{|${baseUrl}/reset-password?reset-token=${token}|}" target="_blank"
           style="padding:10px; color : white; background-color : darkblue;" rel="noopener noreferrer"> Reset Password </a>
    </div>
    <div style="text-align: center; margin:1.5rem;">
        <p>If the above button does not work then follow the link</p>
        <a th:href="@{|${baseUrl}/reset-password?reset-token=${token}|}" th:text="@{|${baseUrl}/reset-password?reset-token=${token}|}" ></a>
    </div>
</div>
</body>

</html>